// Reset CSS to avoid base-browser css
@import "./reset";
@import "./colors";
@import "./typography";
@import "./media-queries";

// Border box for the entire DOM
* {
  box-sizing: border-box;
}

// Set the project font-family
body {
  font-family: $primary-font;
}

// Hide a label without having an accessibility issue
label {
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

// Set global styles for elements
h1 {
  font-size: $h1-size;
  font-weight: bold;
  line-height: 1.25;
  margin-bottom: 15px;
}

h2 {
  font-size: $h2-size;
  font-weight: bold;
}

h3 {
  font-size: $h3-size;
  font-weight: bold;
}

span, a {
  color: $text-color;
  font-size: $main-mobile-size;
}

a {
  text-decoration: none;
}

@media #{$min-width-2} {
  span, a {
    font-size: $main-size;
  }
}
